.banner-caption .caption-inner {
    max-width: 990px;
}

.banner-caption {
    text-align: left;
}

.banner-caption .jobscout_job_filters .search_jobs {
    flex-wrap: nowrap;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    border-radius: 0;
}

.banner-caption .jobscout_job_filters .search_jobs input,
.banner-caption .jobscout_job_filters .search_jobs select {
    border-radius: 0;
    height: 60px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 0.8888em;
    font-weight: 400;
    padding: 10px 20px 10px 48px;
    color: #666;
}



.job_listings .search_jobs .search_keywords:before {
    content: url(../images/search.png);
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 15px;
}

.job_listings .search_jobs .search_location:before {
    content: url(../images/room.png);
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    left: 15px;
}

.banner-caption .jobscout_job_filters .search_jobs div.search_keywords {
    position: relative;
    float: left;
    padding-right: 0.5rem;
    width: 65%;
    display: inline-block;
    flex: none;
}

.banner-caption .jobscout_job_filters .search_jobs div.filter_last,
.banner-caption .jobscout_job_filters .search_jobs div.search_location {
    position: relative;
    float: left;
    padding-right: 0.5rem;
    width: 20%;
    display: inline-block;
    flex: none;
}


.banner-caption .jobscout_job_filters .search_jobs input[type="submit"] {
    display: inline-block;
    background: #EA751E;
    width: auto;
    border: 1px solid #EA751E;
    color: #fff;
    font-weight: 700;
    font-size: 0.888em;
    padding: 10px 18px;
    cursor: pointer;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    transition: all ease 0.35s;
    text-indent: 0;
}

.banner-caption .jobscout_job_filters .search_jobs input[type="submit"]:hover {
    background: #fff;
    border: 1px solid #EA751E;
    color: #EA751E;
}

@media screen and (max-width: 767px) {
    .banner-caption .jobscout_job_filters .search_jobs div.search_keywords {
        margin-bottom: 10px;
        width: 100%;
    }

    .banner-caption .jobscout_job_filters .search_jobs div.filter_last,
    .banner-caption .jobscout_job_filters .search_jobs div.search_location {
        width: 100%;
        margin-bottom: 10px;
    }

}