.site-branding .site-title a {
    color: #000;
}

.site-branding .site-description {
    color: #000;
    font-size: 20px;
    font-family: Swiss721BT-BoldCondensed, sans-serif;
}

.main-navigation ul li:hover>a,
.main-navigation ul li.current-menu-item>a,
.main-navigation ul li.current_page_item>a,
.main-navigation ul li.current-menu-ancestor>a,
.main-navigation ul li.current_page_ancestor>a {
    border-bottom: #EA751E 3px solid;
    color: #000;
}

.main-navigation ul li a {
    padding: 3px 17px;
}

.menu-wrap .btn-wrap a.btn {
    display: inline-block;
    background: #EA751E;
    border: 1px solid #EA751E;
    color: #fff;
    font-weight: 700;
    font-size: 0.888em;
    padding: 10px 18px;
    border-radius: 0;
}

.menu-wrap .btn-wrap a.btn:hover,
a.btn:focus {
    background: none;
    color: #EA751E;
}